<div>
  <div class="row" >
    <div class="col">
      <div class="d-flex justify-content-start">
        <h1>Moderators</h1>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end pt-2"><%= link_to 'New', new_admin_moderator_path, method: :get, class: "btn-ok" %></div>
    </div>
  </div>
</div>
<%= content_tag :table, id: 'moderators-datatable', class: 'table table-ligth table-striped table-hover w-100', role: :datatable, data: { url: admin_moderators_path(format: :json)} do %>
  <thead>
    <tr class="th-right">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>role</th>
      <th class="text-end"></th>
    </tr>
  </thead>
  <tbody class="td-right"></tbody>
<% end %>
