<div>
  <div class="row" >
    <div class="col">
      <div class="d-flex justify-content-start">
        <h1>Комментарии</h1>
      </div>
    </div>
  </div>
</div>
<%= content_tag :table, id: 'comments-datatable', class: 'table table-ligth table-striped table-hover w-100', role: :datatable, data: { url: admin_comments_path(format: :json)} do %>
  <thead>
    <tr class="th-right">
      <th>id</th>
      <th>содержание</th>
      <th>дата</th>
      <th class="text-end"></th>
    </tr>
  </thead>
  <tbody class="td-right"></tbody>
<% end %>
