<h1>Email Subscription</h1>

<%= form_with(model: [@user, @email_subscription], url: user_email_subscriptions_path(@user), html: { class: 'w-50' }) do |f| %>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-6">
        <label>Name <span class="required">*</span></label>
        <%= f.hidden_field :subscriptionable_type, value: 'Category' %>
        <%= f.collection_select :subscriptionable_ids, Category.all, :id, :name, {}, multiple: true, class:'js-multiple-select w-100'%>
      </div>
      
      <div class="col-md-12">
        <%= f.submit 'Save', class: 'btn btn-fill-out' %>
      </div>
    </div>
  </div>
<% end %>
