<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Просмотренные новости</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Новость</th>
            <th>Дата</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @views_history.each do |article, time|%>
            <tr>
              <td></td>
              <td><%= article.title %></td>
              <td><%= utc(time) %></td>
              <td><%= link_to 'Открыть', article_path(article), class: "btn btn-fill-out btn-small d-block" if article.published? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination-area pt-30 text-center bt-1 border-color-1">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="single-wrap d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                  <%= will_paginate @views_history, class: 'pagination justify-content-start' %>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
