
<div class="main_content sidebar_right pb-50 mt-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <!--loop-list-->
        <% @articles.each do |article| %>
        <div class="loop-list loop-list-1">
          <article class="first-post mb-50 animate-conner">
            <div class="post-thumb d-flex mb-30 border-radius-5 img-hover-scale animate-conner-box">
               <%= link_to %>
              <a href="single.html">
                <img src="http://via.placeholder.com/900x630" alt="">
              </a>
              <span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
              <ul class="social-share">
                <li><a href="#"><i class="ti-sharethis"></i></a></li>
                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="post-content">
              <div class="entry-meta meta-0 font-small mb-15">
                <a href="category.html"><span class="post-cat background1 color-white">Global</span></a>
              </div>
              <h3 class="post-title">
                <a href="single.html">Essential Qualities of Highly Successful Music</a>
              </h3>
              <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                <span class="post-by">By <a href="author.html">Jonh</a></span>
                <span class="post-on has-dot">9 April 2020</span>
                <span class="time-reading has-dot">8 mins read</span>
                <span class="hit-count"><i class="ti-bolt"></i> 129k Views</span>
              </div>
              <div class="post-excerpt mb-25">
                <p>Graduating from a top accelerator or incubator can be as career-defining for a&nbsp;startup founder&nbsp;as an elite university diploma. The intensive programmes, which…</p>
              </div>
            </div>
          </article>
          <article class="row mb-50">
            <div class="col-md-6">
              <div class="post-thumb position-relative thumb-overlay mr-20">
                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                  <a class="img-link" href="single.html"></a>
                  <span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
                </div>
                <ul class="social-share">
                  <li><a href="#"><i class="ti-sharethis"></i></a></li>
                  <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                  <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                  <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 align-center-vertical">
              <div class="post-content">
                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background2 color-white">Fashion</span></a></div>
                <h4 class="post-title">
                  <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                </h4>
                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                  <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                  <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                  <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                </div>
                <p class="font-medium">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead. Struggling to sell one multi-million dollar home currently.</p>
                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
              </div>
            </div>
          </article>
          <article class="row mb-50">
            <div class="col-md-6">
              <div class="post-thumb position-relative thumb-overlay mr-20">
                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                  <a class="img-link" href="single.html"></a>
                  <span class="top-right-icon background5"><i class="mdi mdi-favorite"></i></span>
                </div>
                <ul class="social-share">
                  <li><a href="#"><i class="ti-sharethis"></i></a></li>
                  <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                  <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                  <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 align-center-vertical">
              <div class="post-content">
                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background3 color-white">Technology</span></a></div>
                <h4 class="post-title">
                  <a href="single.html">Why Teamwork Really Makes The Dream Work</a>
                </h4>
                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                  <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                  <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                  <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                </div>
                <p class="font-medium">We live in a world where disruption and dynamism reign supreme and businesses must be ready to adapt to the many unpredictable changes that come with this.</p>
                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
              </div>
            </div>
          </article>
          <article class="row mb-50">
            <div class="col-md-6">
              <div class="post-thumb position-relative thumb-overlay mr-20">
                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                  <a class="img-link" href="single.html"></a>
                  <span class="top-right-icon background2"><i class="mdi mdi-audiotrack"></i></span>
                </div>
                <ul class="social-share">
                  <li><a href="#"><i class="ti-sharethis"></i></a></li>
                  <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                  <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                  <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 align-center-vertical">
              <div class="post-content">
                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background1 color-white">Sport</span></a></div>
                <h4 class="post-title">
                  <a href="single.html">9 Things I Love About Shaving My Head During Quarantine</a>
                </h4>
                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                  <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                  <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                  <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                </div>
                <p class="font-medium">At the Emmys, broadcast scripted shows created by people of color gained ground relative to those pitched by White show creators, while broadcast scripted shows.</p>
                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
              </div>
            </div>
          </article>
          <article class="row mb-50">
            <div class="col-md-6">
              <div class="post-thumb position-relative thumb-overlay mr-20">
                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                  <a class="img-link" href="single.html"></a>
                  <span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
                </div>
                <ul class="social-share">
                  <li><a href="#"><i class="ti-sharethis"></i></a></li>
                  <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                  <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                  <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 align-center-vertical">
              <div class="post-content">
                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background2 color-white">Fashion</span></a></div>
                <h4 class="post-title">
                  <a href="single.html">The World Caters to Average People and Mediocre Lifestyles</a>
                </h4>
                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                  <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                  <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                  <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                </div>
                <p class="font-medium">These people envy me for having a lifestyle they don’t have, but the truth is, sometimes I envy their lifestyle instead. Struggling to sell one multi-million dollar home currently.</p>
                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
              </div>
            </div>
          </article>
          <article class="row mb-50">
            <div class="col-md-6">
              <div class="post-thumb position-relative thumb-overlay mr-20">
                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                  <a class="img-link" href="single.html"></a>
                  <span class="top-right-icon background5"><i class="mdi mdi-favorite"></i></span>
                </div>
                <ul class="social-share">
                  <li><a href="#"><i class="ti-sharethis"></i></a></li>
                  <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                  <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                  <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 align-center-vertical">
              <div class="post-content">
                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background3 color-white">Technology</span></a></div>
                <h4 class="post-title">
                  <a href="single.html">Why Teamwork Really Makes The Dream Work</a>
                </h4>
                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                  <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                  <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                  <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                </div>
                <p class="font-medium">We live in a world where disruption and dynamism reign supreme and businesses must be ready to adapt to the many unpredictable changes that come with this.</p>
                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
              </div>
            </div>
          </article>
          <article class="row mb-50">
            <div class="col-md-6">
              <div class="post-thumb position-relative thumb-overlay mr-20">
                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                  <a class="img-link" href="single.html"></a>
                  <span class="top-right-icon background2"><i class="mdi mdi-audiotrack"></i></span>
                </div>
                <ul class="social-share">
                  <li><a href="#"><i class="ti-sharethis"></i></a></li>
                  <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                  <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="ti-twitter-alt"></i></a></li>
                  <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="ti-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 align-center-vertical">
              <div class="post-content">
                <div class="entry-meta meta-0 font-small mb-15"><a href="category.html"><span class="post-cat background1 color-white">Sport</span></a></div>
                <h4 class="post-title">
                  <a href="single.html">9 Things I Love About Shaving My Head During Quarantine</a>
                </h4>
                <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                  <span class="post-on"><i class="ti-marker-alt"></i>25 April 2020</span>
                  <span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
                  <span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>
                </div>
                <p class="font-medium">At the Emmys, broadcast scripted shows created by people of color gained ground relative to those pitched by White show creators, while broadcast scripted shows.</p>
                <a class="readmore-btn font-small text-uppercase font-weight-ultra" href="single.html">Read More<i class="ti-arrow-right ml-5 transition-02s"></i></a>
              </div>
            </div>
          </article>
        </div>
        <% end %>
        <!--pagination-->
        <div class="pagination-area pt-30 text-center bt-1 border-color-1">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                      <li class="page-item"><a class="page-link" href="#"><i class="flaticon-left"></i> </a></li>
                      <li class="page-item active"><a class="page-link" href="#">01</a></li>
                      <li class="page-item"><a class="page-link" href="#">02</a></li>
                      <li class="page-item"><a class="page-link" href="#">03</a></li>
                      <li class="page-item"><a class="page-link" href="#"><i class="flaticon-right"></i> </a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 primary-sidebar sticky-sidebar">
        <div class="widget-area pl-30">
          <div class="sidebar-widget widget_alitheme_lastpost mb-50">
            <div class="widget-header position-relative mb-20 pb-10">
              <h5 class="widget-title mb-10">Latest Posts</h5>
              <div class="bt-1 border-color-1"></div>
            </div>
            <div class="post-block-list post-module-1">
              <ul class="list-post">
                <li class="mb-30">
                  <div class="d-flex">
                    <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                      <a href="single.html">
                        <img src="http://via.placeholder.com/500x500" alt="">
                      </a>
                    </div>
                    <div class="post-content media-body">
                      <div class="entry-meta meta-0 mb-10">
                        <a href="category.html"><span class="post-in background5 color-white font-small">World</span></a>
                      </div>
                      <h6 class="post-title mb-10 text-limit-2-row">Traveling Tends to Magnify All Human Emotions</h6>
                      <div class="entry-meta meta-1 font-x-small color-grey">
                        <span class="post-on">25 April</span>
                        <span class="hit-count has-dot">26k Views</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="mb-30">
                  <div class="d-flex">
                    <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                      <a href="single.html">
                        <img src="http://via.placeholder.com/500x500" alt="">
                      </a>
                    </div>
                    <div class="post-content media-body">
                      <div class="entry-meta meta-0 mb-10">
                        <a href="category.html"><span class="post-in background7 color-white font-small">Films</span></a>
                      </div>
                      <h6 class="post-title mb-10 text-limit-2-row">The Luxury Of Traveling With Yacht</h6>
                      <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                        <span class="post-on">25 April</span>
                        <span class="hit-count has-dot">37k Views</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="mb-30">
                  <div class="d-flex">
                    <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                      <a href="single.html">
                        <img src="http://via.placeholder.com/500x500" alt="">
                      </a>
                    </div>
                    <div class="post-content media-body">
                      <div class="entry-meta meta-0 mb-10">
                        <a href="category.html"><span class="post-in background2 color-white font-small">Travel</span></a>
                      </div>
                      <h6 class="post-title mb-10 text-limit-2-row">Last Minute Festive Packages From Superbreak</h6>
                      <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                        <span class="post-on">25 April</span>
                        <span class="hit-count has-dot">54k Views</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex">
                    <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                      <a href="single.html">
                        <img src="http://via.placeholder.com/500x500" alt="">
                      </a>
                    </div>
                    <div class="post-content media-body">
                      <div class="entry-meta meta-0 mb-10">
                        <a href="category.html"><span class="post-in background3 color-white font-small">Beauty</span></a>
                      </div>
                      <h6 class="post-title mb-10 text-limit-2-row">Less Is More: Diving into Minimalism in Photography</h6>
                      <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                        <span class="post-on">25 April</span>
                        <span class="hit-count has-dot">126k Views</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!--Widget categories-->
          <div class="sidebar-widget widget_categories mb-50">
            <div class="widget-header position-relative mb-20 pb-10">
              <h5 class="widget-title mb-10">Categories</h5>
              <div class="bt-1 border-color-1"></div>
            </div>
            <div class="post-block-list post-module-1 post-module-5">
              <ul>
                <li class="cat-item cat-item-2"><a href="category.html">Beauty</a> (3)</li>
                <li class="cat-item cat-item-3"><a href="category.html">Book</a> (6)</li>
                <li class="cat-item cat-item-4"><a href="category.html">Design</a> (4)</li>
                <li class="cat-item cat-item-5"><a href="category.html">Fashion</a> (3)</li>
                <li class="cat-item cat-item-6"><a href="category.html">Lifestyle</a> (6)</li>
                <li class="cat-item cat-item-7"><a href="category.html">Travel</a> (2)</li>
              </ul>
            </div>
          </div>
          <!--Widget latest posts style 2-->
          <div class="sidebar-widget widget_alitheme_lastpost mb-50">
            <div class="widget-header position-relative mb-20 pb-10">
              <h5 class="widget-title mb-10">Trending Posts</h5>
              <div class="bt-1 border-color-1"></div>
            </div>
            <div class="post-block-list">
              <article class="mb-30">
                <div class="post-thumb position-relative thumb-overlay mb-30">
                  <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                    <a class="img-link" href="single.html"></a>
                    <span class="top-right-icon background8"><i class="mdi mdi-camera-alt"></i></span>
                  </div>
                </div>
                <div class="post-content">
                  <div class="entry-meta meta-0 font-small mb-15">
                    <a href="category.html"><span class="post-cat background9 color-white">Beauty</span></a>
                  </div>
                  <h4 class="post-title">
                    <a href="single.html">The litigants on the screen are not actors</a>
                  </h4>
                  <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                    <span class="post-on">15 April 2020</span>
                    <span class="time-reading has-dot">12 mins read</span>
                    <span class="hit-count"><i class="ti-bolt"></i> 19k Views</span>
                  </div>
                </div>
              </article>
              <article class="mb-30">
                <div class="post-thumb position-relative thumb-overlay hover-box-shadow-2 mb-30">
                  <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(http://via.placeholder.com/900x630)">
                    <a class="img-link" href="single.html"></a>
                  </div>
                </div>
                <div class="post-content">
                  <div class="entry-meta meta-0 font-small mb-15">
                    <a href="category.html"><span class="post-cat background3 color-white">Global</span></a>
                  </div>
                  <h4 class="post-title">
                    <a href="single.html">Essential Qualities of Highly Successful Music</a>
                  </h4>
                  <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
                    <span class="post-on">9 April 2020</span>
                    <span class="time-reading has-dot">8 mins read</span>
                    <span class="hit-count"><i class="ti-bolt"></i> 129k Views</span>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
