<main class="position-relative">
  <!--main content-->
  <div class="main_content sidebar_right mt-100 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 d-lg-block d-none">
          <%= image_tag 'fogg-page-not-found' %>
        </div>
        <div class="col-lg-6 col-md-12">
          <h1 class="mb-30">404</h1>
          <p class="">Простите, но страница которую вы искали не существует</p>
        </p>
        <div class="form-group">
          <%= link_to 'Домашняя страница', root_path, class: 'button button-contactForm mt-30' %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
