<div class="jumbotron jumbotron-fluid mt-4">
  <div class="container">
    <h1 class="display-4">Привет ты находишся в панели администратора сайта NGNews</h1>
    <p class="lead">Ты настолько крут, что являешся админом сайт, который находится в разработке)))</p>
  </div>
</div>
