@import "bootstrap/scss/bootstrap";

.form-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

