/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'scss/actiontext'
 */

@import "bootstrap/scss/bootstrap";
@import "scss/style";
@import "scss/widgets";



.form-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.btn-back {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-edit {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-destroy {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  background-color: red;
}

.btn-create {
  padding: .75rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  background-color: #007bff;
  border-color: #007bff;
  margin-bottom: 20px;
}

.form-container {
  padding: 1.5rem;
  margin: 20px;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-logout{
  border: 1px solid #dc3545;
  padding: .2em;
  color: #dc3545;
  border-radius: 5px;
  border-color: #dc3545;
}

.btn-logout:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.input-group{
  margin-bottom: 20px;
}

.title{
  height: 95px;
  resize: none;
}

.description {
  height: 135px;
  resize: none;
}

.input-group-text{
  width: 120px;
}
