/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'scss/actiontext'
 */

@import "bootstrap/scss/bootstrap";
@import "scss/style";
@import "scss/widgets";
@import "select2/dist/css/select2";

.my-custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.t-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-orange {
  color: orange;
}
.image-container {
  position: relative;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.image-container .btn-remove-img {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  color: #fff;
}

.btn-comment {
  padding: .63rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #f78809;
  background-color: #f78809;
  color: #fff;
  margin-top: 10px;
}

.search-form {
  border: 1px solid #dee2e6;
  max-width: 1080px;
  padding: 30px;
}

.clear {
  margin-right: 0;
  margin-left: auto;
  padding: .4rem .60rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #0069d9;
  background-color: #0069d9;
  color: #fff;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    border: 0.1rem solid #f78809;
    color: #f78809;
  }
}

.btn-return {
  padding: .4rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #0062cc;
  background-color: #0062cc;
  color: #fff;
  margin-top: 10px;

  &:hover {
    background-color: #fff;
    color: #0069d9;
    border: 0.1rem solid #0069d9;
  }
}

.search {
  margin-right: 0;
  margin-left: auto;
  padding: 0.275rem .30rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #0eb91c;
  background-color: #0eb91c;
  color: #fff;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    color: #0eb91c;
    border: 0.1rem solid #0eb91c;
  }
}

.btn-back {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  background-color: #6c757d;
  color: #fff;
  border-radius: 0.2rem;
  transition: all .2s ease-out 0s;
  border: 0.1rem solid #6c757d;

  &:hover {
    background-color: #fff;
    color: #6c757d;
    border: 0.1rem solid #6c757d;
  }
}

.btn-edit {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #f78809;
  color: #fff;
  background-color: #f78809;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    color: #f78809;
    border: 0.1rem solid #f78809;
  }
}

.btn-send_for_review {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #22a834;
  color: #fff;
  background-color: #22a834;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    color: #22a834;
    border: 0.1rem solid #22a834;
  }
}
.btn-create {
  padding: .75rem .75rem;
  font-size: .875rem;
  color: #fff;
  line-height: 1.5;
  border-radius: 0.2rem;
  background-color: #007bff;
  border: 0.1rem solid #007bff;
  margin-bottom: 20px;

  &:hover {
    background-color: #fff;
    color: #007bff;
    border: 0.1rem solid #007bff;
  }
}

.btn-destroy {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid red;
  background-color: red;
  color: #fff;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    color: red;
    border: 0.1rem solid red;
  }
}

.btn-ok {
  padding: 10px 40px;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #0069d9;
  background-color: #0069d9;
  color: #fff;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    color: #0069d9;
    border: 0.1rem solid #0069d9;
  }
}

.btn-cancel {
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  border: 0.1rem solid #ec1919;
  background-color: #ec1919;
  color: #fff;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    color: #ec1919;
    border: 0.1rem solid #ec1919;
  }
}

.form-container {
  padding: 1.5rem;
  margin: 20px;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-logout{
  border: 0.1rem solid #dc3545;
  padding: .2em;
  color: #fff;
  border-radius: 5px;

  background-color: #dc3545;
  transition: all .2s ease-out 0s;

  &:hover {
    background-color: #fff;
    color: #dc3545;
    border: 0.1rem solid #dc3545;
  }
}

.btn-confirm{
  background-color: #28a745;
  padding: .75rem .95rem;
  font-size: .875rem;
  line-height: 1.5;
}

.input-group{
  margin-top: 5px;
  margin-bottom: 10px;
}

.title {
  height: 90px;
  resize: none;
  width: 250px;
}

.description {
  height: 135px;
  width: 250px;
  resize: none;
}

.input-group-text{
  width: 120px;
}

.img-size{
  width: 338px;
  height: 237px;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.hiden-div {
  display:none;
  visibility:inherit;
}


.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.accepted { 
  color: #1acf1a;
}

.rejected {
  color: #e22020;
}
   
.select2-selection--multiple:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 42%;
  border-top: 5px solid #888;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.search-form-el {
  height: auto;
  border: 1px solid #aaa;
}
