/*
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
@import 'scss/my-themify-icons';
@import 'scss/style';
@import 'scss/widgets';
@import 'scss/color';
@import 'scss/responsive';



.form-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
