/*
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

$ti-font-path: "themify-icons-sass/themify-icons/fonts";
@import "themify-icons-sass/themify-icons/themify-icons";

@import "scss/style";
@import "scss/widgets";
@import "scss/color";
@import "scss/responsive";
@import "scss/shop";
@import 'noty/lib/noty';
@import 'noty/lib/themes/bootstrap-v4';

.custom-mb-1 {
  margin-bottom: 0.1em;
}

.btn-back {
  padding: 0.75rem 0.95rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-edit {
  padding: 0.75rem 0.95rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-destroy {
  padding: 0.75rem 0.95rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  background-color: red;
}

.btn-create {
  padding: 0.75rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  background-color: #007bff;
  border-color: #007bff;
  margin-bottom: 20px;
}

.form-container {
  padding: 1.5rem;
  margin: 20px;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.custome-checkbox .form-check-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 6px;
}

.custome-checkbox .form-check-label {
  position: relative;
  cursor: pointer;
  color: #687188;
  padding: 0;
  vertical-align: middle;
}

.custome-radio .form-check-input,
.custome-checkbox .form-check-input {
  display: none;
}

.custome-checkbox .form-check-label::before {
  content: "";
  border: 2px solid #ced4da;
  height: 17px;
  width: 17px;
  margin: 0px 8px 0 0;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}

.custome-checkbox .form-check-label span {
  vertical-align: middle;
}

.custome-checkbox input[type="checkbox"]:checked + .form-check-label::after {
  opacity: 1;
}

.custome-checkbox input[type="checkbox"] + .form-check-label::after {
  content: "";
  width: 11px;
  position: absolute;
  top: 50%;
  left: 3px;
  opacity: 0;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -moz-transform: translateY(-65%) rotate(-45deg);
  -webkit-transform: translateY(-65%) rotate(-45deg);
  transform: translateY(-65%) rotate(-45deg);
}

p {
  font-size: 14px;
}

.h-69 {
  height: 69px;
}

.scale img {
  transition: 1s;
}
.scale img:hover {
  transform: scale(1.1);
}

.cursor-pointer {
  cursor: pointer;
}

.edit-user-profile {
  border: 1px solid #e0dede;
  border-radius: 30px;
  padding: 1px 15px;
}
